<head>
    <style>
    .center {
        text-align: center
    }
    </style>
    </head>
<body>
    <h2 class="center">Token Management System</h2>
    <div class="page-data">
        <form method="post" action="/token/add">
            <div>
                <h3 class="center"><button>Get A Token</button></h3>
            </div>
        </form>
        <form method="post" action='/token/cancel'>
            <h3 class="center"><button>Cancel Token</button></h3>
        </form>
        <form method="post" action='/token/change'>
            <h3 class="center"><button>Change Time</button></h3>
        </form>
        
    
    </div>
</body>
    